<h1><%= @cocktail.name %></h1>

<div class="container">
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
          <span><%= dose.description %></span>
          <span><%= dose.ingredient.name %></span>
          
          <span><%= link_to "ðŸ—‘ï¸", dose_path(dose), method: :delete, data: { confirm: "Delete this dosage?" } %></span>
      </li>
    <% end %>
  </ul>
</div>

 <div class="container">
  <%= link_to "Add new ingredients", new_cocktail_dose_path(@cocktail) %>
 </div>